{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quetta Club</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="container">
        <div class="row">
            <div>
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
            </div>
            <ul class="">
                <li>
                    <a href="{% url 'Customers:index' %}">
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'Customers:customers' %}">
                        <div>Customers</div>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'Sales:sales' %}">
                        <div>Sales</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'Sales:view_sales' %}">
                        <div>View Sales</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="card">
                <h2 class="title">Bill Sale / Account</h2>
                <h2>Sale Details</h2>
                <form action="{% url 'Sales:sales' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <h3 class="title">
                            Add Sales
                        </h3>

                        <div class="choose_file ml-5">
                            <button type="button" class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" height="24px">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m0-3l-3-3m0 0l-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75" />
                                </svg>
                            </button>
                            <input name="sale_file" type="file" accept=".xlsx, .xls, .csv" />
                        </div>
                    </div>
                    <input class="btn" type="submit" id="sale_file_submit" name="sale_file_submit">
                </form>
                <form action="{% url 'Sales:sales' %}" method="post">
                    {% csrf_token %}
                    <div class="grid col-100">
                        <div class="grid-item">
                            <label class="form-label">Bill No</label>
                            <input class="form-control" type="text" name="bill_no">
                        </div>
                        <div class="grid-item">
                            <label class="form-label">PoS No</label>
                            <input class="form-control" type="text" name="PoS_no">
                        </div>
                        <div class="grid-item">
                            <label class="form-label">Month</label>
                            <input class="form-control" type="text" name="month">
                        </div>
                        <div class="">
                            <label class="form-label">Date</label>
                            <input class="form-control" type="date" name="date">
                        </div>
                        <div class="">
                            <label class="form-label">Rank</label>
                            <input class="form-control" type="text" name="customer_rank" value="">
                        </div>
                        <div class="">
                            <label class="form-label">Name</label>
                            <input class="form-control" type="text" value="" name="customer_name">
                        </div>
                        <div class="">
                            <label class="form-label">Address</label>
                            <input class="form-control" type="text" name="address">
                        </div>
                        <div class="">
                            <label class="form-label">On Account of</label>
                            <input class="form-control" type="text" name="account_of">
                        </div>
                        <div class="">
                            <label class="form-label">Amount</label>
                            <input class="form-control" type="text" name="amount">
                        </div>
                        <div class="">
                            <label class="form-label">Discount</label>
                            <input class="form-control" type="text" name="discount">
                        </div>
                        <div class="">
                            <label class="form-label">Net Amount</label>
                            <input class="form-control" type="text" name="net_amount">
                        </div>
                        <div class="">
                            <label class="form-label">Remarks</label>
                            <input class="form-control" type="text" name="remarks">
                        </div>
                    </div>
                    <hr>
                    <div class="flex">
                        <button class="btn" name="Save" value="Save">
                            Save
                        </button>
                        <button class="btn cancel">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>