{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quetta Club</title>
    <script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script>
        window.state = {
            'token': '{{ csrf_token }}',
            'view_sale_form_url': "{% url 'Sales:view_sales' %}"
        };
    </script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div>
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">
            </div>
            <ul class="">
                <li>
                    <a href="{% url 'Customers:index' %}">
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'Customers:customers' %}">
                        <div>Customers</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'Sales:sales' %}">
                        <div>Sales</div>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'Sales:view_sales' %}">
                        <div>View Sales</div>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'Sales:reports' %}">
                        <div>Reports</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="card">
                <div>
                    <div class="row">
                        <h2>Customers</h2>
                        <div class="form-group ml-5 w-50">
                            <select name="search_field" id="search_field" class="form-control">
                                <option value="">Search By</option>
                                <option value="bill_no">Bill No.</option>
                                <option value="pos_no">PoS No</option>
                                <option value="month">Month</option>
                                <option value="account_of">On Account of</option>
                                <option value="date">Date</option>
                                <option value="rank">Rank</option>
                                <option value="name">Name</option>
                                <option value="address">Address</option>
                            </select>
                            <input type="search" name="search_value" id="search_value" oninput="SearchbyName();"
                                class="form-control ml-5 search" placeholder="search ....">
                            <!-- <script>
                                $(function () {
                                    var availableTags = [
                                        {% for data in sales_data %}
                                    "{{data.customer_id.customer_name}}",
                                    {% endfor %}
                                    ];
                                $("#search_value").autocomplete({
                                    source: availableTags
                                });
                          } );
                            </script> -->
                        </div>
                        <!--  -->
                        <div class="choose_file ml-5">
                            <button type="button" class="icon" onclick="download_table_as_csv('Sales_data');">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" height="26px">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m-6 3.75l3 3m0 0l3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <table class="table" id="Sales_data">
                        <thead class="table-header">
                            
                            <tr>
                                <!-- <th>Ser No</th> -->
                                <th>Bill No</th>
                                <th>Month</th>
                                <th>Rank</th>
                                <th>POS NO</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>On Account Of</th>
                                <th>Dated</th>
                                <th>Amount</th>
                                <th>Discount</th>
                                <th>Net Amount</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for sale in sales_data %}

                            {% if sale.amount > 0 %}
                            <tr>
                                <!-- <td>{{sale.id}}</td> -->
                                <td>{{ sale.bill_no|default:"00" }}</td>
                                <td>{{ sale.month|default_if_none:"--" }}</td>
                                <td>{{sale.customer_id.customer_rank}}</td>
                                <td>{{ sale.PoS_no|default:"00" }}</td>
                                <td>{{sale.customer_id.customer_name}}</td>
                                <td>{{ sale.address|default_if_none:"--" }}</td>
                                <td>{{ sale.account_of|default_if_none:"--" }}</td>
                                <td>{{ sale.date|default_if_none:"--" }}</td>
                                <td>{{ sale.amount|intcomma|default_if_none:"00" }}</td>
                                <td>{{ sale.discount|intcomma|default_if_none:"00" }}</td>
                                <td>{{ sale.net_amount|intcomma|default_if_none:"00" }}</td>
                                <td>{{ sale.remarks|default_if_none:" " }}</td>
                                <td>
                                    <div class="list">
                                        <a href="{% url 'Sales:update_sales' %}?id={{sale.id}}" class="">Edit</a>
                                        <button class="modal" id="paid_modal" onclick="payBill('{{sale.id}}')">
                                            <a href="">Paid</a>
                                        </button>
                                        <button id="comp_modal" class="modal" onclick="compBill('{{sale.id}}')">Complemantery</button>
                                        <button id="cancel_modal" class="modal" onclick="cancelBill('{{sale.id}}')">Cancelled</button>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr>
                                <td><b>Total Bills: {{total_bills|intcomma}}</b></td>
                                <td><b>Total Paid Bills: </b></td>
                                <td><b>Total Cancelled Bills: </b></td>
                                <td><b>Total Complemantery Bills: </b></td>
                                <td><b>Total Amount: {{total_amount|intcomma}}</b></td>
                                <td><b>Total Paid: </b></td>
                                <td><b>Total Discounts: {{total_discount|intcomma}}</b></td>
                                <td><b>Total Net Amount: {{total_net_amount|intcomma}}</b></td>
                            </tr>
                        </tbody>


                    </table>
                </div>
            </div>
        </div>

        <!-- paid modal -->
        <div class="paidModal-open">

            <div class="modal-header">
                
                <span class="close-btn">&times;</span>
                <h1 class="modal-title"><b>Paid Bill Modal</b></h1>
            </div>
            <!-- <form id="pay_bill" method="">
                {% csrf_token %} -->
                <input class="form-control" id="form-id" type="hidden" name="formId"/>

                <div class="modal-content">
                    <label class="form-label">RV No</label>
                    <input class="form-control" type="text" name="rv_no" id="rv_no" required>

                    <label class="form-label">Date</label>
                    <input class="form-control" type="date" name="paid_date" id="today-date">

                    <label class="form-label">Amount</label>
                    <input class="form-control" type="text" name="paid_amount" id="paid_amount">

                    <label class="form-label">Balance</label>
                    <input class="form-control" type="text" id="pay_bill_modal_balance" name="paid_balance">

                    <label class="form-label">Remaining</label>
                    <input class="form-control" type="text" name="remaining_balance" id="remaing_amount">

                    <div class="flex">
                        <button class="btn" type="submit" name="bill_paid" value="bill_paid" >
                            Save
                        </button>
                        <button class="btn cancel" onclick="cancelModel(document.getElementById('paid_modal'))">
                            Cancel
                        </button>
                    </div>
                </div>
            <!-- </form> -->
            <div class="modal-footer">
                <h2>I am the Footer</h2>
            </div>
        </div>

        <!-- complemantery modal -->
        <div class="compModal-open">

            <div class="modal-header">
                <span class="close-btn">&times;</span>
                <h1 class="modal-title">Complemantery Bill Modal</h1>
            </div>
            <form id="comp_bill" method="">
                {% csrf_token %}

                <div class="modal-content">
                    <label class="form-label">Date</label>
                    <input class="form-control" id="today-date" type="date" name="comp_date">

                    <label class="form-label">Remarks</label>
                    <input class="form-control" id="comp_remarks" type="text" name="comp_remarks">

                    <label class="form-label">Amount</label>
                    <input class="form-control" id="comp_amount" type="text" name="comp_amount">

                    <label class="form-label">Balance</label>
                    <input class="form-control" id="comp_bill_modal_balance" type="text" name="comp_balance">


                    <div class="flex">
                        <button class="btn" name="comp_bill" type="submit" id="comp_bill">
                            Save
                        </button>
                        <button class="btn cancel" name="cancel" value="cancel">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <h2>I am the Footer</h2>
            </div>
        </div>

        <!-- cancelled modal  -->
        <div class="cancelModal-open">

            <div class="modal-header">
                <span class="close-btn">&times;</span>
                <h1 class="modal-title">Cancel Bill Modal</h1>
            </div>
            <form id="cancel_bill" method="">
                {% csrf_token %}

                <div class="modal-content">

                    <label class="form-label">Date</label>
                    <input class="form-control" id="today-date" type="date" name="cancel_date" required>

                    <label class="form-label">Reason</label>
                    <input class="form-control" type="text" name="reason" id="reason" required>

                    <div class="flex">
                        <button class="btn" name="bill_paid" value="bill_paid" type="submit">
                            Save
                        </button>
                        <button class="btn cancel" name="cancel" value="cancel">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <h2>I am the Footer</h2>
            </div>
        </div>
    </div>

    <script>
        
    </script>
    <!-- <script>
        function download_to_excel() {

            var tab_text = "<table><tr>";
            var textRange = '';
            var j = 0;
            var tab = document.getElementById('MyTableID_Value'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text += tab.rows[j].innerHTML + "</tr>";
            }

            tab_text += "</table>";

            var a = document.createElement('a');
            var data_type = 'data:application/vnd.ms-excel';
            a.href = data_type + ', ' + encodeURIComponent(tab_text);
            //setting the file name
            a.download = 'file_name.xls';
            //triggering the function
            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();

        }
    </script> -->

    <script>
        function download_table_as_csv(Sales_data, separator = ',') {
            // Select rows from table_id
            var rows = document.querySelectorAll('table#' + Sales_data + ' tr');
            // Construct csv
            var csv = [];
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll('td, th');
                for (var j = 0; j < cols.length; j++) {
                    // Clean innertext to remove multiple spaces and jumpline (break csv)
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
                    data = data.replace(/"/g, '""');
                    // Push escaped string
                    row.push('"' + data + '"');
                }
                csv.push(row.join(separator));
            }
            var csv_string = csv.join('\n');
            // Download it
            var filename = Sales_data + '_' + new Date().toLocaleDateString() + '.csv';
            var link = document.createElement('a');
            link.style.display = 'none';
            link.setAttribute('target', '_blank');
            link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

        var today = new Date();
        document.getElementById("today-date").value = 
                    today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) +
                    '-' + ('0' + today.getDate()).slice(-2);
    </script>
    
    <script src="{% static 'js/sale.js' %}"></script>
</body>

</html>